*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://lh3.googleusercontent.com/RSob3DVj8nyplR00wfbOzcla6vejKK-bu4myiJPORWJVMhrUHiEegWgH-0LzYfMCK3fqdDP-pmnVNjxcN6C-Fa4y90zMAcfauM_xzkDvVPrNpnx_rlftEnhUPDz1imLi9wqFE9fj-Ad7BLYcw5kPK6myK0dribjLqq5worLItfJZwcI9pWfUtbRSnenUbJkn7puGIvn42F-h34mQR8Xda6hjgq_FsxJTaPyZpPs1D1RkqwKBQ5yDaCO1PTRQs9Ktuerwi-lDNUpRWHK1v4mI21h5MpYIHUCeUdfJoSkQoGSrfRm8JkAU9CdN4ts8gUMk13fzETKMQbVyTOJ7nMUxuMCy1rYE_vs6Vszw-omV50VHld5Lgqnf8-_z97Yu9gVa5q3oP1BwGkjv2iAuS1pH1mndnLGMzKNgTSchxUoSDE1inx6no1LDE_5RgUAhobbDUth7orXazIgje5PiNLCTp1JvArBABlSGVHXlayOaB2KBzXxUOyh4aw60xpCWDy0tKYZ360orHuDer5E2t9n6xBtJ95ftpvhNYMgPdktLoNgBT4_Q8Ax9AUa1LLVBTiBFlhUW8u5cVAvjVEUxR037DuFjzSByl1bQCxRdS3UTzeV-_riXDkUmuFm-vmRlGEyL0Jh0Tbp6Q21weB2YrpM40vmzFQbzLt6yOKc-89euO-mZZ6YQxIf40UFD_VuAM6XXtlDDIyYiidF0Mi4p6x4iko12lSwdPYdyKJcuT_pP2OYCCG68gubSFrh-0FE_F1QPYowlRvLh76twm7i8P7elfp5NJHXdGjiVM-2zB7q2ITJwTprpQfdy7PIGQgSztuISdQ5WIhQDgu9_Y0G_Qf1HAB5rJ41AYkpg4omGFroWm6MTyI0wbn27ca--W1WaoWAwAf-3LKCkyHSQTO4fRK9fLmi27JdY9PqOB2Pv-FaY9nUzgMSrk8osGpUIGnqIb2oQnKuguxb8TeoiI5K-b13a=w692-h933-no?authuser=0);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 340px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;

}
.headertext{
    margin-top: 20%;
    font-size: 30px;

}
.headertext h1{
    font-size: 60px;
    margin-top: 20px;

}
.headertext h1 span{
     color: #ff004f;
}
/* -----------about-------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
   display: flex;
   justify-content:space-between ;
   flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 300px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff ;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px ;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
     width: 0;
     height: 3px;
     background: #ff004f;
     position: absolute ;
     left: 0;
     bottom: -8px;
     transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50px;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0 ;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------------services------- */

#services{
    padding: 30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 30px;
    transition: background 0.5s, transform o.5s;

}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block ;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* ------------contact--- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;


}
.social-icons{
    margin-top: 30px;


}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.5s;
    margin-top: 30px;
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/* ---------------css for small screen---- */

nav .fas{
    display: none;
}
 @media only screen and (max-width: 600px){
 #header{
    background-image: url(https://lh3.googleusercontent.com/RSob3DVj8nyplR00wfbOzcla6vejKK-bu4myiJPORWJVMhrUHiEegWgH-0LzYfMCK3fqdDP-pmnVNjxcN6C-Fa4y90zMAcfauM_xzkDvVPrNpnx_rlftEnhUPDz1imLi9wqFE9fj-Ad7BLYcw5kPK6myK0dribjLqq5worLItfJZwcI9pWfUtbRSnenUbJkn7puGIvn42F-h34mQR8Xda6hjgq_FsxJTaPyZpPs1D1RkqwKBQ5yDaCO1PTRQs9Ktuerwi-lDNUpRWHK1v4mI21h5MpYIHUCeUdfJoSkQoGSrfRm8JkAU9CdN4ts8gUMk13fzETKMQbVyTOJ7nMUxuMCy1rYE_vs6Vszw-omV50VHld5Lgqnf8-_z97Yu9gVa5q3oP1BwGkjv2iAuS1pH1mndnLGMzKNgTSchxUoSDE1inx6no1LDE_5RgUAhobbDUth7orXazIgje5PiNLCTp1JvArBABlSGVHXlayOaB2KBzXxUOyh4aw60xpCWDy0tKYZ360orHuDer5E2t9n6xBtJ95ftpvhNYMgPdktLoNgBT4_Q8Ax9AUa1LLVBTiBFlhUW8u5cVAvjVEUxR037DuFjzSByl1bQCxRdS3UTzeV-_riXDkUmuFm-vmRlGEyL0Jh0Tbp6Q21weB2YrpM40vmzFQbzLt6yOKc-89euO-mZZ6YQxIf40UFD_VuAM6XXtlDDIyYiidF0Mi4p6x4iko12lSwdPYdyKJcuT_pP2OYCCG68gubSFrh-0FE_F1QPYowlRvLh76twm7i8P7elfp5NJHXdGjiVM-2zB7q2ITJwTprpQfdy7PIGQgSztuISdQ5WIhQDgu9_Y0G_Qf1HAB5rJ41AYkpg4omGFroWm6MTyI0wbn27ca--W1WaoWAwAf-3LKCkyHSQTO4fRK9fLmi27JdY9PqOB2Pv-FaY9nUzgMSrk8osGpUIGnqIb2oQnKuguxb8TeoiI5K-b13a=w692-h933-no?authuser=0);

 }
 .headertext{
    margin-top: 100%;
    font-size: 16px;
 }
 .headertext h1{
    font-size: 30px;
 }
 nav .fas{
    display: block;
    font-size: 25px;
  }
 nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;

 }
 nav ul li{
    display: block;
    margin: 25px;
 }
 nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    
 }
 .sub-title{
    font-size: 40px;
 }
 .about-col-1, .about-col-2{
    flex-basis: 100%;

 }
 .about-col-1{
    margin-bottom: 30px;
 }
 .about-col-2{
    font-size: 14px;
 }
 .tab-links{
    font-size: 16px;
    margin-right: 20px;
 }
 .contact-left, .contact-right{
    flex-basis: 100%;

 }
 .copyright{
    font-size: 14px;
 }
} 
